
*{
    margin: 0;
}

nav{
    height: 8svh;
    background-color: lightsteelblue;
    z-index: 1000;
    justify-content: center;
    display: flex;
    border-bottom: 2px solid gray;
}

nav a{
    font-size: medium;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 0 0 20px 20px;
    margin: 30px;
    text-shadow: 2px;
    background-color: lightslategrey;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 20px lightskyblue;
    border: 2px solid black;
    text-decoration: overline;
}

nav a:hover{
    font-size: large;
    padding: 15px;
    transition-duration: 0.5s;
    border: 2px solid gray;
}

body{
    text-align: center;
    background-color: lightslategrey;
    font-family: 'Times New Roman', Times, serif;
}

.skeleton{
    margin: 40px;
    display: inline-flex;
    text-align: center;
}

.box-button{
    padding: 100px;
    width: auto;
    background-color: gray;
    border-radius: 40px;
    box-shadow: 5px 5px slategray;
    border: 1px solid lightsteelblue;
}

.box-button button{
    position: relative;
    margin: 20px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    text-decoration: none;
    line-height: 2em;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border: none;
    position: relative;
    z-index: 1;
}

.box-button button:hover {
    animation: animation 5s linear infinite;
    border: none;
}

@keyframes animation {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
}

.box-button button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.box-button button:hover::before {
    filter: blur(20px);
}
  
.box-button button:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.box-button span{
    text-align: center;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    border-right: 1px solid transparent;
    animation: caret 1s steps(1) infinite;
}

.box-button p{
    color: azure;
    font-size: medium;
    font-weight: bold;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px lightsteelblue;
    border-top: 2px solid;
}

.box-button h1{
    margin: 50px;
    color: aliceblue;
    text-shadow: 2px 2px 5px lightsteelblue;
}

@keyframes caret{
    50% { border-right-color: whitesmoke}
}

@media only screen and (max-width: 750px) {
    .box-button{
        padding: 20px; 
    }
    .box-button button{
        width: auto;
    }
    .nav{
        width: 100%;
    }
    .nav a{
        padding: 0;
    }
  }
